name: Release

on:
  workflow_dispatch:
  release:
    types: [created]

permissions: {}

jobs:
  build:
    if: github.repository == 'mihaimaruseac/hindent' # Don't do this in forks
    runs-on: ubuntu-latest
    # Keep these in sync with a subset of Cabal-based CI matrix. This way, we
    # are not building a new cache here, just reusing an existing one.
    env:
      os: ubuntu-latest
      ghc: 9.8.1
    outputs:
      hash_sdist: ${{ steps.hash_sdist.outputs.hash_sdist }}
      hash_execs: ${{ steps.hash_execs.outputs.hash_execs }}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup Haskell Compiler (cabal)
        id: setup-haskell
        uses: haskell-actions/setup@64445b6b5dd545faf5f8e2acee8253eb5c2b29aa # v2.7.11
        with:
          ghc-version: ${{ env.ghc }}

      - name: Cache dist-newstyle
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: dist-newstyle
          key: dist-newstyle-${{ env.os }}-${{ env.ghc }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('internal/**','src/**','app/**','tests/**','benchmarks/**') }}
          restore-keys: |
            dist-newstyle-${{ env.os }}-${{ env.ghc }}-${{ hashFiles('**/*.cabal') }}-
            dist-newstyle-${{ env.os }}-${{ env.ghc }}-

      - name: Cache ~/.cabal/store
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ${{ steps.setup-haskell.outputs.cabal-store }}
          key: cabal-store-${{ env.os }}-${{ env.ghc }}-${{ hashFiles('**/*.cabal') }}
          restore-keys: cabal-store-${{ env.os }}-${{ env.ghc }}-

      - name: Build executables
        run: cabal build all:exes

      - name: Generate source distribution
        run: cabal sdist --output .

      - name: Generate documentation
        run: cabal haddock --haddock-for-hackage --enable-doc --builddir=.

      - name: Generate subject for provenance of source distribution
        id: hash_sdist
        run: |
          set -euo pipefail
          echo "hash_sdist=$(sha256sum hindent-*.tar.gz | base64 -w0)" >> "${GITHUB_OUTPUT}"

      # Wehn uploading we pick a fixed name since we don't yet have access to
      # the version string in the tarball. This can be fixed with some
      # scripting if needed, but it works for our use cases as it is.
      # TODO(mihaimaruseac): Maybe fix to upload the path as needed
      - name: Upload sdist as an artifact for later jobs in workflow
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          path: hindent-*.tar.gz
          name: sdist.zip # When downloading it is a zip containing the sdist tarball
          if-no-files-found: error
          retention-days: 1

      - name: Copy all executables to root directory for ease of release
        run: mkdir .execs && cp $(cabal list-bin all:exes) .execs

      # TODO(mihaimaruseac): Strip executables

      - name: Generate subject for provenance of executables
        id: hash_execs
        run: |
          set -euo pipefail
          ls -l .execs/*
          echo "hash_execs=$(sha256sum .execs/* | base64 -w0)" >> "${GITHUB_OUTPUT}"

      # When uploading executables we push them all to the same archive and
      # later the action that downloads it automatically unpacks it. So, in
      # effect this allows us to be transparent on what the executables we
      # generate.
      # However, on the CI run this will result in an artifact (short lived!)
      # that has all of the executables in it. If we want to upload each
      # executable by itself, maybe we can use automatic matrix generation[1]
      # for this.
      # [1]: https://frontside.com/blog/2022-12-12-dynamic-github-action-jobs/
      # TODO(mihaimaruseac): Maybe use automatic matrix generation here
      - name: Upload executables as an artifact for later jobs in workflow
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          path: .execs/
          name: executables.zip # When downloading it is a zip with all executables
          if-no-files-found: error
          include-hidden-files: true
          retention-days: 1

  provenance-sdist:
    needs: [build]
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.build.outputs.hash_sdist }}"
      upload-assets: true
      provenance-name: source-distribution.intoto.jsonl

  provenance-execs:
    needs: [build]
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.build.outputs.hash_execs }}"
      upload-assets: true
      provenance-name: executables.intoto.jsonl

  release:
    needs: [build, provenance-sdist, provenance-execs]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write # to upload to release notes
    steps:
      - name: Download artifact
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: executables.zip

      - name: Download artifact
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          name: sdist.zip

      - name: Upload assets
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
        with:
          files: ./*

      # TODO(mihaimaruseac): Upload haddock and build report to Hackage
      # Not doing this now because we don't want to store user/pass in GitHub
      # secrets and there is no OIDC way to upload.
